discord.py[voice]
twitchio
aioconsole
aiosqlite3
aiohttp
psutil
requests
colorama
jishaku
git+https://github.com/IAmTomahawkx/pyk
parsedatetime
python-dateutil
PyQt5
PyQt5-Stubs
git+https://github.com/ShineyDev/prettify.py.git